body{
    margin: 0%;
    padding: 0%;
    background-image:url(ayo.jpg);
    background-size: cover;
}
.content{
    grid-area: content;
    
    height: 100%;
    background-size: cover;
    background-position: center;
}
.container {
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
            "sidebar"
            "content"
            "footer";
           grid-template-columns: 2fr;
           grid-template-rows: 150px 300px 250px;
}
.sidebar{
    grid-area: sidebar;
    background: linear-gradient(to right,
    rgb(29, 61, 119),
    rgb(32, 110, 124),
    rgb(20, 116, 79));
    justify-content: center;
}
.button{
    margin-top: 30px;
    margin-left: 440px;
}
.hero{
    z-index: 1;
    margin:20px;
    align-content:center;
}
nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size-adjust: 50px;
   
}
nav li {
    list-style: none;
    padding: 1em 0;

}
nav li a {
    color: rgb(176, 238, 238);
    font-weight: 100px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font:1.7em sans-serif;
    

}
nav li a:hover {
    opacity: 5;
    color: rgb(22, 139, 139)
}
.hero{
    align-content: center;
}
.btn{
    border: 1px solid rgb(14, 56, 121);
    padding: 10px 30px;
    color: rgb(12, 81, 85);
    text-decoration: none;
    margin-right: 15px;
    font-size: 50px;
    text-transform: uppercase;
    
}
.btn-one{
    font-family: "roboto",sans-serif;
    opacity: 1;
}
.btn-one:hover{
    background-color: aqua;
    transition: all;
}
.btn-two{
    font-family: "roboto",sans-serif;
}
.btn-two:hover{
    background-color: aqua;
    transition: all;
}
.btn-three{
    font-family: "roboto",sans-serif;
}
.btn-three:hover{
    background-color: aqua;
    transition: all;
}
.btn-four{
    font-family: "roboto",sans-serif;
}
.btn-four:hover{
    background-color: aqua;
    transition: all;
}
.btn-five{
    font-family: "roboto",sans-serif;
}
.btn-five:hover{
    background-color: aqua;
    transition: all;
}
.bubbles{
    position:relative;
    top: 0%;
    left:0%;
    width: 100%;
    height: 100%;

}
.bubbles li{
    position:relative;
    list-style: none;
    display: block;
    width: 75px;
    height: 75px;
    background: #0a5f97;
    animation:animate 25s linear infinite;
    bottom: -1250px;
}
.bubbles li:nth-child(1){
    left: 25%;
    width: 30px;
    height: 30px;
    animation-delay:0;
    animation-duration: 12s; 
}
.bubbles li:nth-child(2){
    left: 10%;
    width: 45px;
    height: 45px;
    animation: delay 2s; 
}
.bubbles li:nth-child(3){
    left: 70%;
    width: 55px;
    height: 55px;
    animation-delay:4s; 
}
.bubbles li:nth-child(4){
    left: 40%;
    width: 80px;
    height: 80px;
    animation-delay:18s; 
    animation-duration: 12s; 
}
.bubbles li:nth-child(5){
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay:0;
 
}
.bubbles li:nth-child(6){
    left: 75%;
    width: 20px;
    height: 20px;
    animation-delay:3s; 
}
.bubbles li:nth-child(7){
    left: 35%;
    width: 200px;
    height: 200px;
    animation-delay:7s; 
}
.bubbles li:nth-child(8){
    left: 25%;
    width: 25px;
    height: 25px;
    animation-delay:5s; 
}
.bubbles li:nth-child(9){
    left: 20%;
    width: 20px;
    height: 20px;
    animation-delay:2s; 
}
.bubbles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay:0; 
    
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 2;
        border-radius:0;

    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-top-right-radius: 75%;
        border-bottom-left-radius: 75%;
        border-top-left-radius: 25%;
        box-shadow: 10px 30px 30px 10px rgb(94, 33, 5)
        
    }